.profile-pic {
  width: 90px;
  height: 90px;
  display: block;
  float: left;
  margin: 0px 20px 0px 0px;
}

.section p {
  line-height: 1.5em;
}

.section.bride p {
  padding: 30px 0px 0px 0px;
}

.groom p {
  padding: 30px 0px 0px 0px;
}

.rsvp.section {
  justify-content: center
}

.section {
  overflow: hidden;
  padding: 30px 20px 30px 20px;
}

.submit.rsvp-form__section {
  text-align: center;
  justify-content: center;
}

.bride .section-title {
  position: absolute;
  left: 150px;
  top: 20px;
}

.groom .section-title {
  position: absolute;
  left: 150px;
  top: 40px;
}

.decision.rsvp-form__section input {
  margin: 0px 8px 0px 0px;
}

.decline-name {
  display: grid;
  margin-bottom: 16px;
}

.decision.rsvp-form__section input {
  margin: 0px 5px 0px 0px;
}

.notice.rsvp-form__section {
  padding: 0px 0px 20px 0px;
}

#note-section {
  display: none;
}

#decline-note {
  width: 100%;
  min-height: 100px;
  vertical-align: revert;
}

::-webkit-input-placeholder, ::placeholder, :-moz-placeholder {
  color: lime;
  display: ;
  line-height: 1.5em;
}

::-webkit-input-placeholder, ::placeholder, :-moz-placeholder {
  color: #9497a2;
  content: 'sup';
  font-size: 20px;
}

input#decline-note {
  padding: 6px 10px;
}

textarea#decline-note {
  padding: 8px 10px;
  border: 1px solid #dfe1e9;
  overflow: auto;
  height: auto;
}

::-webkit-input-placeholder, ::placeholder, :-moz-placeholder {
  line-height: 1.25em;
}

#rsvp-form input {
  border: 1px solid #dfe1e9;
  padding: 5px 10px;
}

textarea#decline-note {
  resize: both;
}

#rsvp-form .number-of-guests.rsvp-form__section input {
  display: block;
  width: 100%;
  position: relative;
  padding: 5px 0px 5px 10px;
}

#guest-info-wrapper .split {
  /* background: lime; */
  display: table-cell;
  vertical-align: top;
  width: 68%;
}

#guest-info-wrapper .split:last-child {
  /* background: pink; */
  width: 29%;
  position: relative;
}

#guest-info-wrapper .split input {
  width: 95%;
}

#guest-info-wrapper .split {
  height: 60px;
}

select#plate-type {
  display: block;
  font-size: 16px;
  padding: 6px 0px 5px 5px;
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  position: relative;
  z-index: 4;
  border: 1px solid #dfe1e9;
}


#rsvp-submit-btn {
  display: block;
  padding: 5px 25px 5px 27px;
  background: #001A33;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

#rsvp-form label {
  color: #001A33;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .03em;
}

.decision.rsvp-form__section {
  color: #001A33;
  font-size: 17px;
}

.decision::before {
  display: block;
  width: 1px;
  height: 30px;
  background: #c6c6c6;
  content: '!';
  position: absolute;
  font-size: 0px;
  color: transparent;
  top: -3px;
  left: 146px;
}

.decision.rsvp-form__section {
  position: relative;
}

#rsvp-decline {
  margin: 0px 5px 0px 28px;
}

.decision::after {
  display: block;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  content: '!';
  position: absolute;
  font-size: 0px;
  color: transparent;
  top: 48px;
  left: 0px;
}

.decision.rsvp-form__section {
  text-align: center;
  max-width: 325px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
